/* 

-------------------- STYLING GUIDE --------------------

Content css

    style
    size
    space / centering / alignment
    font family
    color

Content Box css

    style
    size
    space / centering / alignment
    back-ground color

Container Box css

    style
    size
    space / centering / alignment

*/

/* 

-------------------- STYLE RESOURCE CENTER --------------------

--------- Content css ---------

Typography

    font weight: 700 -> h1-h6 / 500 -> defualt 
    list style: none 
    text-decorator: none
    size (scale 1.5):  12px -> sm / 16px -> a / 20px -> p / 24px -> h5 / 32px -> h4 / 40px -> h3 / 48px -> h2 / 62px -> h1 / 
    text-aligment: center -> h1-h2 / left ->defualt
    line height: 1.25 -> defualt / 1.5 -> h1 -> h6
    letter space: 0 -> defualt / -2px h1 - h6
    font-family: poppins, 'san-serif'

Color 

    primary: base #087f5b / tint #39997c / shade #066649
    secondary : base #5b087f / tint #7c3999 / shade #490666
    tatiary: base #7f5b08 / tint #997c39 / shade #664906 
    Gray: base #495057 / tint #ced4da / shade #212529
    white: #ffffff
    black: #000000

--------- Content css box ---------



--------- Container css box ---------

nav-section

    height:80px
    display:flex
    flex-direction: row


*/

/*------------------------  DECLAERING AND ASSIGNING GLOBAL VARIABLES ------------------------ */

.page-container{

    max-width: 1200px;
    margin: 0 auto;
}

html{

    /* 10px / 16px = 62.5% */

    font-size:62.5% ;

}

:root{

    /*----------- COLOR SECTION ----------- */

    --primary-base: #087f5b;
    --primary-tint: #6bb29d;
    --primary-shade: #054c37;

    --secondary-base:#08147f;
    --secondary-tint:#6b72b2;
    --secondary-shade:#050c4c;

    --tertiary-base:#7f0873;
    --tertiary-tint:#b26bab;
    --tertiary-shade:#4c0545;

    --gray-base:#495057;
    --gray-tint:#92969a;
    --gray-shade:#2c3034;

    --white:#ffffff;
    --black:#000000;

    /*----------- SECTION SPACING ----------- */
    
    --section-spacing:10rem;

    /*----------- SECTION HEIGHT ----------- */
    
    --section-height:100vh;


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    letter-spacing: 0;
    font-weight: 500;
    color: #495057 ;

}


h1,h2,h3,h4,h5{

    line-height: 1.25;
    letter-spacing: -2px;
    text-align: center;
    font-weight: 700;
    color: #212529;

}

/* p,a{

    line-height: 1.25;
    letter-spacing: 0;
    font-weight: 500;
    color: #343a40 ;

} */

h1{

    font-size: 6.2rem;
}

h2{

    font-size: 4.8rem;
}

h3{

    font-size: 4rem;
    
}

h4{
    font-size: 3.2rem;
    text-align: left;
}

h5{
    font-size: 2.4rem;
}

p{
    font-size: 2rem;
}

a{
    text-decoration: none;
    font-size: 1.6rem;
    display: inline-block;
}

li{
    list-style: none;
}

.logo{
    color:var(--white);
}

.main-lang{
    color: var(--primary-base);
}

/* ------------------ COMPONENTS ------------------ */

.nav-links{

    text-decoration: none;
    font-size: 1.6rem;
    
}
.nav-links:link,.nav-links:visited{
    color:var(--white);

}

.nav-links:hover,.nav-links:active{
    color:var(--gray-tint);
}

.btn{
    
    text-decoration: none;
    font-size: 1.6rem; 
    display: inline-block;
}

.btn-download-cv{

    padding: 1rem 2rem;
    border-radius: 5rem;    
}

.btn-download-cv:link , .btn-download-cv:visited{
    color:var(--white);
    background-color: var(--primary-base);
}

.btn-download-cv:hover, .btn-download-cv:active{
    color:var(--white);
    background-color: var(--primary-shade);
}

/* ------------------ SECTIONS ------------------ */

/* --------- NAV SECTION --------- */

.nav-section{

    height: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:var(--primary-base);
    padding: 0 2rem;
}

.nav-menu{

    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.hero-section{

    height: calc( var(--section-height) - 8rem);
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.hero-image{
    width: 30rem;
}

.hero-img-container{
    width: 35rem;
    height: 35rem;
    border: solid 2px var(--primary-base);
    border-radius: 17.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-h3{
    font-weight: 500;
    margin-bottom: 1rem;
}

.hero-h1{
    margin-bottom: 1rem;
}

.hero-para{
    margin-top: 4rem;
    padding-right: 0.5rem;
}

.hero-links{
    margin-top: 3rem;
}

.hero-social-links{

    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.hero-social-icons{
    width: 2rem;
}

.hero-icon{
    width: 4rem;
    height: 4rem;
    border: 2px solid var(--primary-base);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------- ABOUT USS SECTION --------- */

.aboutus-section{
    height:var(--section-height);
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    background-color:var(--primary-tint);
    margin-bottom:var(--section-spacing);
    padding: 0 2rem;
}

.aboutus-heading{
    margin-bottom: 1rem;
    
}

/* .aboutus-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;

} */

.aboutus-image{
    width:50rem; 
}

/* .aboutus-para{
    padding-left: 20px;
} */

/* --------- SKILL SECTION --------- */

.skill-section{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
    padding: 0 2rem;
}

.skill-section-heading{
    margin-bottom: 1rem;
}

.skill-section-para{
    text-align: center;
    margin-bottom: 5rem;
}

.skill-section-cards{
    display: flex;
    justify-content: space-around;
}

.skill-section-card{
    border: 2px solid var(--primary-shade);
    border-radius: 2.5rem;
    width: 30rem;
    padding: 4rem 2rem;
}

.card-heading{
    margin-bottom: 1rem;
}

/* --------- EXPERIENCE SECTION --------- */

.project-section{
    /* max-width: 1100px;
    margin: 0 auto; */
    margin-bottom: 10rem;
    padding: 0 2rem;
}

.project-heading{
    margin-bottom: 5rem;
}

.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    column-gap: 3rem;
}

.project-card{

    border: 2px solid var(--gray-tint);
    padding: 5px;
    border-radius: 1rem;
    width: 50rem;

}

.project-image{
    width: 100%;
    border-radius: 1rem;
    
}


/* --------- CONTACT SECTION --------- */

.contact-heading{
    margin-bottom: 5rem;
}

.contact-section{
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;

}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 50rem;
    border: 2px solid var(--gray-tint);
    padding: 5rem;
}

.form-field{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

.input-field{
    width: 40rem;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.form-btn{
    width: 100%;
}

/* --------- FOOTER  SECTION --------- */

.footer-section{

    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
    gap:1rem;
    padding: 5rem;
    background-color: var(--primary-base);
    color: var(--white);
}

.footer-nav{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    

}

.footer-nav{
    color: var(--white);
}

.footer-social-icons{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.social-icons{
    color: var(--white);
}