/* 

-------------------- STYLING GUIDE --------------------

Content css

    style
    size
    space / centering / alignment
    font family
    color

Content Box css

    style
    size
    space / centering / alignment
    back-ground color

Container Box css

    style
    size
    space / centering / alignment

*/

/* 

-------------------- STYLE RESOURCE CENTER --------------------

--------- Content css ---------

Typography

    font weight: 700 -> h1-h6 / 500 -> defualt 
    list style: none 
    text-decorator: none
    size (scale 1.5):  12px -> sm / 16px -> a / 20px -> p / 24px -> h5 / 30px -> h4 / 36px -> h3 / 48px -> h2 / 60px -> h1 / 
    text-aligment: center -> h1-h2 / left ->defualt
    line height: 1.25 -> defualt / 1.5 -> h1 -> h6
    letter space: 0 -> defualt / -2px h1 - h6
    font-family: poppins, 'san-serif'

Color 

    primary: base #38d9a9 / tint #63e6be / shade #20c997 
    secondary
    tatiary
    Gray
    white
    black

--------- Content css box ---------



--------- Container css box ---------


*/

h1{
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    letter-spacing: -2px;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
}

h2{
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    letter-spacing: -2px;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
}

h3{
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    letter-spacing: -2px;
    font-weight: 700;
    font-size: 36px;
}

h4{
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    letter-spacing: -2px;
    font-weight: 700;
}

h5{
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    letter-spacing: -2px;
    font-weight: 700;
}

p{
    font-family: "Poppins", sans-serif;
    line-height: 1.25;
    letter-spacing: 0;
    font-weight: 500;
    font-size: 20px;
}

a{
    font-family: "Poppins", sans-serif;
    line-height: 1.25;
    letter-spacing: 0;
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
}

li{
    list-style: none;
}
