/* 

-------------------- STYLING GUIDE --------------------

Content css

    style
    size
    space / centering / alignment
    font family
    color

Content Box css

    style
    size
    space / centering / alignment
    back-ground color

Container Box css

    style
    size
    space / centering / alignment

*/

/* 

-------------------- STYLE RESOURCE CENTER --------------------

--------- Content css ---------

Typography

    font weight: 700 -> h1-h6 / 500 -> defualt 
    list style: none 
    text-decorator: none
    size (scale 1.5):  12px -> sm / 16px -> a / 20px -> p / 24px -> h5 / 30px -> h4 / 36px -> h3 / 48px -> h2 / 60px -> h1 / 
    text-aligment: center -> h1-h2 / left ->defualt
    line height: 1.25 -> defualt / 1.5 -> h1 -> h6
    letter space: 0 -> defualt / -2px h1 - h6
    font-family: poppins, 'san-serif'

Color 

    primary: base #0ca678 / tint #20c997 / shade #087f5b
    secondary
    tatiary
    Gray: base #495057 / tint #ced4da / shade #212529
    white: #ffffff
    black: #000000

--------- Content css box ---------



--------- Container css box ---------

nav-section

    height:80px
    display:flex
    flex-direction: row


*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    letter-spacing: 0;
    font-weight: 500;
    color: #495057 ;

}

h1,h2,h3,h4,h5{

    line-height: 1.25;
    letter-spacing: -2px;
    text-align: center;
    font-weight: 700;
    color: #212529;

}

/* p,a{

    line-height: 1.25;
    letter-spacing: 0;
    font-weight: 500;
    color: #343a40 ;

} */

h1{

    font-size: 60px;
}

h2{

    font-size: 48px;
}

h3{

    font-size: 36px;
}

h4{
    font-size: 30px;
}

h5{
    font-size: 24px;
}

p{
    font-size: 20px;
}

a{
    text-decoration: none;
    font-size: 16px;
}

li{
    list-style: none;
}

.logo{
    color: #ffffff;
}

.main-lang{
    color: #0ca678;
}

/* ------------------ COMPONENTS ------------------ */

.nav-links{

    text-decoration: none;
    font-size: 16px;
    
}
.nav-links:link,.nav-links:visited{
    color: #ffffff;

}

.nav-links:hover,.nav-links:active{
    color: #ced4da;
}

.btn{
    
    text-decoration: none;
    font-size: 16px; 
    display: inline-block;
}

.btn-download-cv{

    padding: 10px 20px;
    border-radius: 50px;    
}

.btn-download-cv:link , .btn-download-cv:visited{
    color: #ffffff;
    background-color: #087f5b;
}

.btn-download-cv:hover, .btn-download-cv:active{
    color: #ffffff;
    background-color: #0ca678;
}

/* ------------------ SECTIONS ------------------ */

/* --------- NAV SECTION --------- */

.nav-section{

    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #087f5b;
}

.nav-menu{

    display: flex;
    flex-direction: row;
    gap: 20px;
}

.hero-section{

    height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
}

.hero-image{
    width: 300px;
}

.hero-img-container{
    width: 350px;
    height: 350px;
    border: solid 2px #087f5b;
    border-radius: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-h3{
    font-weight: 500;
    margin-bottom: 10px;
}

.hero-h1{
    margin-bottom: 10px;
}

.hero-para{
    margin-top: 40px;
}

.hero-links{
    margin-top: 30px;
}

.hero-social-links{

    margin-bottom: 20px;
}

.hero-social-icons{
    width: 20px;
}
