/* mobile: 400 / small_tabs: 600 / large_tabs: 800 / laptop :1000 */

/* laptops */

@media(max-width:1040px){
    /* font size : 9px */
    html{
        /* (9px/16px) *100% = 56.25%*/
        font-size:56.25% ;
    }
}

/* large_tabs */

@media(max-width:935px){
    /* font size : 8px */

    html{
        /* (8px/16px) *100% = 50%*/
        font-size: 50%;
    }
}

@media(max-width:832px){
    /* font size : 8px */

    html{
        /* (8px/16px) *100% = 50%*/
        font-size: 50%;
    }

    .hero-section{
        flex-direction: column;
        gap:10rem;
    }

    .aboutus-section{
        flex-direction: column;
    }

    .aboutus-content{
        margin-bottom: var(--section-spacing);
    }

    .skill-section-cards{
        justify-content: space-around;
        gap: 2rem;
    }

    .project-container{
        grid-template-columns: 1fr;
        gap: 5rem 
    }
}

/* small_tabs */

@media(max-width:680px){
    /* font size : 7px */

    html{
        /* (7px/16px) *100% = 43.75%%*/
        font-size: 43.75%;
    }

    .desktop-nav{
        display: none;
    }

    .mobile-nav{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: var(--section-spacing);
        background-color:var(--primary-base);
    }

    .nav-svg{
        width: 5rem;
        
    }

    .nav-menu{
        display: flex;
    }

    .close-svg{
        display: none;
    }

    .nav-icons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding:2rem;
        /* width:95%; */
        /* margin: 0 auto; */
 
    }

    .mobile-nav-links{
        display: none;
        flex-direction: column;
        height:100vh;
        width: 100%;
        gap:1rem;
        
    }

    .nav-links{
        padding: 2rem 1rem;
        width: 100%;
        border: 2px solid var(--primary-shade);
        background-color: var(--primary-shade);
        text-align: center;
    }

    a,li{
        color: var(--white);
        display: inline-block;

    }

    .mobile-logo{
        color: var(--white);
    }
   
    .skill-section-cards{
        border: none;
        gap: 1rem;
    }
}

@media(max-width:601px){
    /* font size : 7px */

    html{
        /* (7px/16px) *100% = 43.75 %*/
        font-size: 43.75%;
    }

    .skill-section-card{
        border: none; 
        padding: 0;
        width: 100%;       
    }

    .skill-section-cards{
        border: 2px solid var(--primary-shade);
        border-radius: 2.5rem;
        padding: 4rem 2rem;
        gap: 0;
    }
}

/* mobile */

@media(max-width:534px){
    /* font size : 6px */

    html{
        /* (6px/16px) *100% = 37.5%*/
        font-size: 37.5%;
    }

}

@media(max-width:459px){
    /* font size : 6px */

    html{
        /* (6px/16px) *100% = 37.5%*/
        font-size: 37.5%;
    }
    
    .skill-section-card{
        max-width:fit-content;
    }

}

